.note-input {
	display: block;
	width: 45%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.formclass {
	display: flex;
	flex-direction: column;
	margin-left: 40vw;
}

.note-submit {
	display: block;
	width: 45%;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #280811;
	color: #FFF;
	margin-top: 20px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.note-submit:hover {

	background-color:  #FFF;
	color: #280811;
	outline: #280811 solid;
	
}