<div>
    

    <form class="">
        <div class="formclass">
            <h2>Add new note</h2>
            <input 
            type="text"
            name="inputNote"
            placeholder="Note Text"
            class="note-input"
            [(ngModel)]="inputNote"
        />
        <input 
            type="date"
            name="inputNote"
            placeholder="Date"
            class="note-input"
            [(ngModel)]="date"
        />
        <button type="submit" class="note-submit" (click)="addNote()"> Add Note </button>

        </div>
        
    </form>
</div>  
